@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {

  --light_red: hsl(0, 100%, 67%);
  --orangey_yellow: hsl(39, 100%, 56%);
  --green_teal: hsl(166, 100%, 37%);
  --cobalt_blue: hsl(234, 85%, 45%);

 /* Gradients */

  --light_slate_blue: hsl(252, 100%, 67%);
  --light_royal_blue: hsl(241, 81%, 54%);
  
  --violet_blue: hsla(256, 72%, 46%, 1);
  --persian_blue: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --pale_blue: hsl(221, 100%, 96%);
  --light_lavender: hsl(241, 100%, 89%);
  --dark_gray_blue: hsl(224, 30%, 27%);

}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  height: 100%;
  margin: 0;
}
  
p {
  font-size: 18px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.result {
  background-color: var(--cobalt_blue);
  color: var(--white);
  width: 100%;
  height: 100%;
}

.summary {
  color: var(--dark_gray_blue);
  background-color: gray;
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;
}
