@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {

  --light_red: hsl(0, 100%, 67%);
  --orangey_yellow: hsl(39, 100%, 56%);
  --green_teal: hsl(166, 100%, 37%);
  --cobalt_blue: hsl(234, 85%, 45%);

 /* Gradients */

  --light_slate_blue: hsl(252, 100%, 67%);
  --light_royal_blue: hsl(241, 81%, 54%);
  
  --violet_blue: hsla(256, 72%, 46%, 1);
  --persian_blue: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --pale_blue: hsl(221, 100%, 96%);
  --light_lavender: hsl(241, 100%, 89%);
  --dark_gray_blue: hsl(224, 30%, 27%);

}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  height: 100%;
  margin: 0;
}
  
p {
  font-size: 18px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  box-shadow: 5px 5px 30px lightgray;
  overflow: hidden;
}

.result {
  background-color: var(--light_slate_blue);
  color: var(--light_lavender);
  width: 260px;
  height: 375px;
  border-radius: 25px;
}

.summary {
  color: var(--dark_gray_blue);
  width: 240px;
  height: 375px;
}

html, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--light_slate_blue),var(--light_royal_blue));
}

.result h2 {
  font-size: 18px;
}

.marks {
  background-color: cadetblue;
  border-radius: 100%;
  width: 135px;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--cobalt_blue),var(--light_slate_blue));
}

.marks h1 {
  font-size: 48px;
  font-weight: 800px;
  color: var(--white);
  margin: 0;
  padding: 0;
}

.marks p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.remarks {
  width: 63%;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remarks h2 {
  color: var(--white);
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.remarks p {
  font-size: 13px;
}

.summary {
  padding-left: 30px;
}

.summary h2 {
  font-size: 20px;
  display: flex;
  margin-top: 40px;
}

.subject {
  width: 80%;
  justify-self: center;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border-radius: 10px;
}

.subject div {
  display: flex;
  font-size: 12px;
  margin-left: 10px;
}

.subject h3 {
  font-size: 12px;
  margin-left: 5px;
}

.subject p {
  font-size: 12px;
  color: var(--dark_gray_blue);
  margin-right: 10px;
}

.red {
  color: var(--light_red);
  background: hsl(0, 100%, 67%, 0.06);
}

.yellow {
  color: var(--orangey_yellow);
  background: hsl(39, 100%, 56%, 0.06);
}

.green {
  color: var(--green_teal);
  background: hsl(166, 100%, 37%, 0.06);
}

.blue {
  color: var(--cobalt_blue);
  background: hsl(234, 85%, 45%, 0.06);
}

.continue {
  margin-top: 30px;
  background: var(--dark_gray_blue);
  color: var(--white);
  font-size: 12px;
  height: 40px;
  width: 80%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border-radius: 25px;
  border: 0;
  font-weight: 800;
}

.continue:hover {
  cursor: pointer;
  background-color: var(--light_royal_blue);
}


@media (max-width: 500px) {
  body {
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
  }

  .result {
    width: 100%;
    margin: 0;
  }

  .summary {
    width: 100%;
    margin: 0;
    padding-left: 20%;
  }
}