@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {

  --light_red: hsl(0, 100%, 67%);
  --orangey_yellow: hsl(39, 100%, 56%);
  --green_teal: hsl(166, 100%, 37%);
  --cobalt_blue: hsl(234, 85%, 45%);

 /* Gradients */

  --light_slate_blue: hsl(252, 100%, 67%);
  --light_royal_blue: hsl(241, 81%, 54%);
  
  --violet_blue: hsla(256, 72%, 46%, 1);
  --persian_blue: hsla(241, 72%, 46%, 0);

  /* Neutral */

  --white: hsl(0, 0%, 100%);
  --pale_blue: hsl(221, 100%, 96%);
  --light_lavender: hsl(241, 100%, 89%);
  --dark_gray_blue: hsl(224, 30%, 27%);

}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  height: 100%;
  margin: 0;
}
  
p {
  font-size: 18px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  box-shadow: 5px 5px 30px lightgray;
  overflow: hidden;
}

.result {
  background-color: var(--light_slate_blue);
  color: var(--light_lavender);
  width: 280px;
  height: 375px;
  border-radius: 25px;
}

.summary {
  color: var(--dark_gray_blue);
  width: 280px;
  height: 375px;
}

html, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--light_slate_blue),var(--light_royal_blue));
}

.result h2 {
  font-size: 18px;
}

.marks {
  background-color: cadetblue;
  border-radius: 100%;
  width: 135px;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(var(--cobalt_blue),var(--light_slate_blue));
}

.marks h1 {
  font-size: 48px;
  font-weight: 800px;
  color: var(--white);
  margin: 0;
  padding: 0;
}

.marks p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.remarks {
  width: 63%;
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remarks h2 {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.remarks p {
  font-size: 13px;
}


